.products__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.products__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__title {
  font-size: xxx-large;

  margin-left: 6rem;

  color: whitesmoke;
}

.products__subtitle {
  font-size: larger;

  margin-right: 6rem;

  color: whitesmoke;
}

.products__slogan {
  position: relative;
  padding-left: 2.8rem;
}

.products__slogan::before {
  content: '';
  position: absolute;
  width: 10rem;
  height: 4px;
  background-color: whitesmoke;
  left: 0;
  top: 6px;
}

/**=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {

}

/* For medium devices */
@media screen and (max-width: 990px) {

}

@media screen and (max-width: 770px) {
  .products__content {
    display: flex;
  }

  .products__title {
    font-size: x-large;
  
    margin-left: 6rem;
  
    color: whitesmoke;
  }
  
  .products__subtitle {
    margin-left: 4rem;
    font-size: small;
  
    color: whitesmoke;
  }
  
  .products__slogan {
    position: relative;
    padding-left: 2.8rem;
  }
  
  .products__slogan::before {
    content: '';
    position: absolute;
    width: 8rem;
    height: 2px;
    background-color: whitesmoke;
    left: 0;
    top: -6px;
  }
}

/* For small devices */
@media screen and (max-width: 640px) {

}