.productsCarrossel__container {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.productsCarrossel__image {
  height: 260px;
}

/**=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1300px) {
  .productsCarrossel__container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  .productsCarrossel__image {
    height: 280px;
  }
}

@media screen and (max-width: 992px) {
  .productsCarrossel__container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .productsCarrossel__image {
    height: 260px;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .productsCarrossel__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .productsCarrossel__image {
    height: 180px;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {

}