.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin-top: 6rem;

  color: whitesmoke
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem
}

.form__textlabel {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: x-large;
}

.form__input {
  padding: 1rem;

  width: 20rem;

  border-radius: 25px 25px 25px 25px;

  border: none;

  text-align: center;
}

.form__termos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 4px;
}

.form__checkbox {
  width: 1rem;
  height: 1rem;

  margin-right: 6px;
}

.form__checkbox_text {
  font-size: 14px;
  text-align: center;
}

.form__button {
  margin-top: 2px;

  padding: 1.2rem;
  width: 12rem;

  border-radius: 2rem;
  border: none;

  background: linear-gradient( -110grad, green, greenyellow);
  
  font-size: large;
  font-weight: bold;
}

.modal__container {
  margin-top: 12rem;
}

.modal__header {
  background: linear-gradient( -110grad, #4F4F4F, #363636);
  color: white;
}

.modal__title {
  margin-left: 3rem;
}

.modal__body {
  background: linear-gradient( -110grad, greenyellow, green);
  color: #363636;

  text-align: center;
  font-size: large;
  font-weight: 600;
}

/**=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .form__container {
    height: 38rem;
  }

  .form__textlabel {
    display: flex;
    align-items: center;
    gap: 6px;
  
    font-size: 22px;
  }
  
  .form__input {
    padding: 12px;
  
    width: 20rem;
  
    border-radius: 25px 25px 25px 25px;
  
    border: none;
  
    text-align: center;
  }
  
  .form__button {
    margin-top: 5rem;
  
    padding: 1rem;
    width: 12rem;
  
    border-radius: 2rem;
    border: none;
  
    background: linear-gradient( -110grad, green, greenyellow);
    
    font-size: large;
    font-weight: bold;
  }

  .form__termos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: -3rem;
  }
  
  .form__checkbox {
    width: 1rem;
    height: 1rem;
  
    margin-right: 6px;
  }
  
  .form__checkbox_text {
    font-size: 13.8px;
    text-align: center;
  }

  .modal__container {
    padding: 20%;
  }
  
  .modal__header {
    background: linear-gradient( -110grad, #4F4F4F, #363636);
  }
  
  .modal__title {
    text-align: center;
  }
  
  .modal__body {
    background: linear-gradient( -110grad, greenyellow, green);
    color: #363636;
  
    text-align: center;
    font-size: large;
    font-weight: 700;
  }
}

/* For medium devices */
@media screen and (max-width: 1200px) {
  .form__checkbox_text {
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (max-width: 960px) {
  .form__container {
    order: 2;
  }

  .form__textlabel {
    display: flex;
    align-items: center;
    gap: 6px;
  
    font-size: 22px;
  }
  
  .form__input {
    padding: 1rem;
  
    width: 20rem;
  
    border-radius: 25px 25px 25px 25px;
  
    border: none;
  
    text-align: center;
  }
  
  .form__button {
    margin-top: 5rem;
  
    padding: 1.2rem;
    width: 12rem;
  
    border-radius: 2rem;
    border: none;
  
    background: linear-gradient( -110grad, green, greenyellow);
    
    font-size: large;
    font-weight: bold;
  }

  .form__termos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: -3rem;
  }
  
  .form__checkbox {
    width: 1rem;
    height: 1rem;
  
    margin-right: 6px;
  }
  
  .form__checkbox_text {
    font-size: 12px;
    text-align: center;
  }

  .modal__container {
    margin-left: -4rem;
    padding: 20%;
  }
  
  .modal__header {
    background: linear-gradient( -110grad, #4F4F4F, #363636);
  }
  
  .modal__title {
    margin-left: 0;
    text-align: center;
  }
  
  .modal__body {
    background: linear-gradient( -110grad, greenyellow, green);
    color: #363636;
  
    text-align: center;
    font-size: large;
    font-weight: 600;
  }
}

/* For small devices */
@media screen and (max-width: 585px) {
  .form__textlabel {
    display: flex;
    align-items: center;
    gap: 6px;
  
    font-size: large;
  }
  
  .form__input {
    padding: 10px;
  
    width: 17rem;
  
    border-radius: 25px 25px 25px 25px;
  
    border: none;
  
    text-align: center;
  }

  .form__button {
    padding: 12px;
    width: 12rem;
  }

  
  .form__checkbox_text {
    font-size: 11px;
    text-align: center;
  }

  .modal__container {
    padding: 20%;
  }
  
  .modal__header {
    background: linear-gradient( -110grad, #4F4F4F, #363636);
  }
  
  .modal__title {
    text-align: center;
  }
  
  .modal__body {
    background: linear-gradient( -110grad, greenyellow, green);
    color: #363636;
  
    text-align: center;
    font-size: large;
    font-weight: 700;
  }
}