.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: -6rem;
}

/**=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {

}

/* For medium devices */
@media screen and (max-width: 990px) {

}

@media screen and (max-width: 770px) {
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* For small devices */
@media screen and (max-width: 640px) {

}