.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.footer__content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__logo {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.footer__logo_porAlgoMaior {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.footer__spotify {
  width: 70px;
  height: 70px;
  margin-top: 8px;
}

.footer__youtube {
  height: 60px;
  margin-top: 12px;
}

.footer__title {
  font-size: xx-large;

  color: whitesmoke
}

.footer__social {
  display: flex;
  gap: 1rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1300px) {
  .footer__logo {
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }

  
  .footer__spotify {
    width: 61px;
    height: 61px;
    margin-top: 7px;
  }

  .footer__youtube {
    height: 56px;
    margin-top: 9px;
  }

  .footer__logo_porAlgoMaior {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
  
  .footer__title {
    font-size: 23px;

    margin-top: 9px;
    margin-left: 9px;
  
    color: whitesmoke
  }
}

@media screen and (max-width: 992px) {
  .footer__container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  
  .footer__content {
    margin-left: 0;
  
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer__logo {
    width: 65px;
    height: 65px;
    border-radius: 100%;
  }

  .footer__spotify {
    width: 53px;
    height: 53px;
    margin-top: 4px;
  }

  .footer__youtube {
    height: 48px;
    margin-top: 6px;
  }

  .footer__logo_porAlgoMaior {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }
  
  .footer__title {
    font-size: 21px;

    margin-top: 9px;
    margin-left: 9px;
  
    color: whitesmoke
  }
}

/* For medium devices */
@media screen and (max-width: 960px) {
  .footer__container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  
  .footer__content {
    margin-left: 0;
  
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer__logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .footer__spotify {
    width: 40px;
    height: 40px;
    margin-top: 4px;
  }

  .footer__youtube {
    height: 39px;
    margin-top: 4.8px;
  }

  .footer__logo_porAlgoMaior {
    width: 48px;
    height: 48px;
    border-radius: 100%;
  }
  
  .footer__title {
    font-size: 18px;

    margin-top: 9px;
    margin-left: 9px;
  
    color: whitesmoke
  }
}

/* For small devices */
@media screen and (max-width: 585px) {
  .footer__title {
    font-size: 16px;

    margin-top: 9px;
    margin-left: -9px;

    color: whitesmoke
  }

  .footer__youtube {
    height: 36px;
    margin-top: 5px;
  }

  .footer__logo_porAlgoMaior {
    width: 44px;
    height: 44px;
    border-radius: 100%;
  }

  .footer__social {
    gap: 4px
  }  
}